mixin sExamplesSlider()
	+b.slider-examples-wrap
		+b.slider-examples--js.swiper
			.swiper-wrapper
				block
		+b.control-wrap.d-lg-none
			//- +arrow
			.swiper-pagination

mixin sExamples-item(title, img)
	+b.sExamples-item
		+e.title!= title 
		.toggle-wrap
			p.toggle-list Преимущества
				span.toggle-list-el
			.toggle-block
				p.toggle-list Преимущества
					span.toggle-list-el.active
				ul
					li Наши специалисты бесплатно посетят Ваш объект
					li Быстро и&nbsp;с&nbsp;гарантией согласуем ПОДД
					li Скидка&nbsp;10% при заказе в&nbsp;день обращения
					li Предоставляем гарантию на&nbsp;проект ОДД на&nbsp;весь период строительства и&nbsp;эксплуатации
					li Проектируем ОДД на&nbsp;любой вид строительных работ
		p Пример проекта
		+e.images-block
			a(href=`img/sExamples-bg-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-bg-${img}.png` alt="").bg-img
			+e.img--front(href=`img/sExamples-fr-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-fr-${img}.png`, alt="")
			+e.img--back(href=`img/sExamples-bk-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-bk-${img}.png`, alt="")
			//- a(href=`img/sExamples-fr-1.png` data-fancybox=`example-${img}`).d-none
			//- +e.result <span>Результат</span> нашей работы:
			//- 	+icon('result-arrow')
		+e.footer
			+e.price 	Цена 
				strong от 10 000 руб.
			a.link-modal-js(href='#modal-price').btn-green Узнать стоимость

mixin sExamples(secondTitle, blue)
	// start sExamples
	+b.SECTION.sExamples.section.showAllWrap#sExamples.wow.animate__animated.animate__fadeIn&attributes(attributes)
		+e.wrapper

			//- img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			+e.container.container
				block
				if secondTitle
					+b.section-title
						h2 #[span Выберите нужный Проект ОДД] (Услугу по&nbsp;ОДД и&nbsp;согласованию знаков)
				else
					+b.section-title
						span Разработанные нами проекты ОДД (Услуги по&nbsp;ОДД и&nbsp;согласованию знаков)
						h2 Помимо согласованного проекта организации дорожного движения (ПОДД), Вы&nbsp;можете заказать:
				+sExamplesSlider()
					+e.slide.swiper-slide
						+sExamples-item(`Установка дорожных знаков`,'1')
					+e.slide.swiper-slide
						+sExamples-item(`Проекты ОДД<br>и схемы ОДД`,'2')
					+e.slide.swiper-slide
						+sExamples-item(`Нанесение дорожной разметки`,'3')
					+e.slide.swiper-slide
						+sExamples-item(`Проектирование автомобильных дорог`,'4')
					+e.slide.swiper-slide
						+sExamples-item(`Проектирование АСУДД/светофоров`,'5')
					+e.slide.swiper-slide
						+sExamples-item(`Нанесение дорожной разметки`,'6')
					//-  скрытые элементы
					+e.slide.hidden-slide.swiper-slide
						+sExamples-item(`Проекты ОДД<br>и схемы ОДД`,'2')
					+e.slide.hidden-slide.swiper-slide
						+sExamples-item(`Нанесение дорожной разметки`,'3')
					+e.slide.hidden-slide.swiper-slide
						+sExamples-item(`Проектирование автомобильных дорог`,'4')
					+e.slide.hidden-slide.swiper-slide
						+sExamples-item(`Проектирование АСУДД/светофоров`,'5')
					+e.slide.hidden-slide.swiper-slide
						+sExamples-item(`Нанесение дорожной разметки`,'6')
				if blue
					+e.btn--blue.btn-green.btn-show-more(href="#") ПОСМОТРЕТЬ ЕЩЕ
				else
					+e.btn.btn-green.btn-show-more(href="#") ПОСМОТРЕТЬ ЕЩЕ

	// end sExamples